@import url("https://fonts.googleapis.com/css?family=Tangerine");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {

    position: fixed;
    padding: 0 1rem;
    display: flex;
    box-shadow: 0 3px 3px red;
    z-index: 99%;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

main {
    flex: 1 0 auto;
    box-shadow: 0 3px 3px orange;
    margin-top: 47px;
    background-image: url(../images/free-photo-of-old-artisan-showing-vintage-and-antique-artifacts-in-wooden-drawers.jpeg);
}

#logo {
    font-family: 'Oswald', sans-serif;
}




#menu {
    list-style-type: none;
    font-size: 110%;

}

#menu>li {
    margin-bottom: 7px;
    font-family: 'Tangerine', serif;




}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 3px 3px red;
    background-color: white;

}

#nav-toggle:checked~nav {
    display: block;


}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;

}

#social-medias {
    text-align: center;
    padding: 10px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#social-medias i {
    font-size: 120%;
    padding: 5%;
    color: black;
}

#intro-text {
    color: white;
}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;

    }

}