@import url("https://fonts.googleapis.com/css?family=Tangerine");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    position: fixed;
    padding: 0 1rem;
    display: flex;
    box-shadow: 0 4px 4px #ff0000;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    background-color: #ffffff;
}


main {
    flex: 1 0 auto;
    box-shadow: 0 3px 3px #ffa500;
    margin-top: 47px;
}

#confiramtion {
    background-color: #ffa500;
}

#request {
    padding-left: 30px;
    padding-top: 30px;
    color: #ffffff;
}


#logo {
    font-family: 'Oswald', sans-serif;
}

#main-photo {
    width: 100%;
    height: 300px;
    background: url('./images/antique-artifacts.jpeg') no-repeat center center/cover;
    padding-bottom: 50px;
}

#intro-text {
    color: #ffffff;
    background-color: #f8e27f61;
    width: 80%;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 150px;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    color: #000000;
}

#menu>li {
    margin-bottom: 7px;
    font-family: 'Tangerine', serif;
    font-size: x-large;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    background-color: #ffffff;
}

nav a {
    color: #000000;
}

#places p {
    font-family: 'Oswlad', sans-serif;
    margin-left: 10px;
}

#places h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15px;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;

}

#social-medias {
    text-align: center;
    padding: 10px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#social-medias i {
    font-size: 120%;
    padding: 5%;
    color: #000000;
}

#stonepic {
    width: 250px;
    margin-left: 5px;
}

#petrapic {
    width: 250px;
    margin-left: 5px;

}

#picchupic {
    width: 250px;
    margin-left: 5px;
}

#gizapic {
    width: 250px;
    margin-left: 5px;
}

#places {
    background-color: #77644eb8;
    display: flex;
    flex-wrap: wrap;
}

#stone-art {
    flex: 1 0 auto;
}

.art-photos img {
    width: 350px;
    line-height: 1em;
}

#art {
    background-color: #5E3803;
}

.art-photos {
    line-height: 0;
}

.contact-text {
    color: #808080;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

.contactus {
    flex: 1 0 auto;
    margin-left: 10px;


}

#contact>div {
    color: #51ff00;

}

#contact {
    background-image: url("./images/contactpic.jpg");
    background-size: cover;
    background-position: 50%;
    padding: 15px 5% 0 5%;
    flex-grow: 1;
    height: fit-content;

}

#full {
    background-color: #f8e27fb8;
}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
        background-color: transparent;
    }

    #stonepic {
        width: flex;
        height: 300px;
        margin-left: 5px;
    }

    #petrapic {
        width: flex;
        height: 300px;
        margin-left: 5px;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;

    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    #intro-text {
        width: 300px;
        right: 50px;
        padding: 30px 0 0 20px;
    }

    #contact {
        background-size: cover;
        height: 300px;
    }
}

@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 2px solid #000FFF;

    }

}